{% extends "base.html" %}


{% block main %}
   
    <h2>Animal Crossing Villagers</h2>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Species</th>
                    <th>Personality</th>
                    <th>Birthday</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                {% for villagers in villager %}
                <tr>
                
                    <td>{{ villagers[0] }}</td>
                    <td>{{ villagers[1] }}</td>
                    <td>{{ villagers[2] }}</td>
                    <td>{{ villagers[3] }}</td>
                    <td>
                        <div class="villager-image">
                            <img src="/static/images/{{ villagers[4] }}.jpg" class="amiibo-image">
                        </div>
                        
                    </td>
                {% endfor %}
                </tr>
            </tbody>
            
        </table>
    </div>

{% endblock %}
