<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ACNH villagers</title>
    <link type="text/css" rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Popular Animal Crossing Villagers</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/villagers">Villagers</a>
            </li>
            <li>
                <a href="/alldata">All Data</a>
            </li>
            <li>
                <a href="/species">Species</a>
            </li>
            <li>
                <a href="/personality">Personality</a>
            </li>
        </ul>
        <form method="POST" action="/search">
            <input type="text" name="search" id="search">
            <input type="submit" value="Search">
        </form>
    </nav>
    <main>
        {% block main %}{% endblock %}
    </main>
</body>