<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ACNH villagers</title>
    <link type="text/css" rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        
        <nav>
            <ul>
                <a href="/">
                    <button>
                        <img src="/static/images/acnh-logo-final.png" width="60">
                    </button>
                </a>
                <li>
                    <a href="/villagers">Villagers</a>
                </li>
            
                <li>
                    <a href="/species">Species</a>
                </li>
                <li>
                    <a href="/personality">Personality</a>
                </li>
                <li>
                    <a href="/alldata">All Data</a>
                </li>
            </ul>
            
            <form method="POST" action="/search">
                <input type="text" name="search" id="search">
                <input type="submit" value="Search">
            </form>
        </nav>
        
    </header>
    
    <main>
        {% block main %}{% endblock %}
    </main>
</body>