<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ACNH villagers</title>
    <link type="text/css" rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Popular villagers</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/villagers">Villagers</a>
            </li>
           
        </ul>
    </nav>
    <main>
        <h2>Welcome, find out about some popular ACNH villagers</h2>
        <p>This website sucks</p>
        <p>Im going crazy.</p>
    </main>
</body>
</html>