{% extends "base.html" %}

{% block main_class%}index-main{% endblock %}

{% block main %}
    <h1>Popular Animal Crossing Villagers</h1>
        <p>This website contains the 30 most popular villagers in the game, their name, 
birthday, and personality</p>

    <div class="icon-bar">

        <a href="/villagers">
            <img src="/static/images/villagers-icon-2.png">
            <p>Villagers</p>
        </a>
        
        <a href="/species">
            <img src="/static/images/species-icon-2.png">
            <p>Species</p>
        </a>
        
        <a href="/personality">
            <img src="/static/images/personality-icon.png">
            <p>Personality</p>
        </a>
        
        <a href="/alldata">
            <img src="/static/images/alldata-icon-2.png">
            <p>All Data</p>
        </a>
        
    </div>



{% endblock %}

