{% extends "base.html" %}

{% block main %}
<h2>Villager Personalities</h2>

    {% for personality, villager_image_pairs in personality_dict.items() %}
        <article>
            <details>
                <summary>
                    {{ personality }}
                    <img src="/static/images/arrow-real.png" class="arrow" alt="">
                </summary> 
                <div class="villager-list">
                    {% for villager, image in villager_image_pairs %}
                        <div class="villager-item">
                            <p>{{ villager }}</p> 
                            <div class="card">
                                <img src="/static/images/{{image}}.jpg" class="amiibo-image-species" alt="{{image}} villager">
                            </div>
                        </div>
                    {% endfor %}
                
                
                </div>
            </details>
        </article>
    {% endfor %}
{% endblock %}