{% extends "base.html" %}

{% block main %}
<h2>Villager Personalities</h2>

    {% for personality, villager_image_pairs in personality_dict.items() %}
        <article>
            <h3>{{ personality }}</h3> 
            <p>
                {% for villager, image in villager_image_pairs %}
                    <p>
                        {{ villager }}
                    </p> 
                    <p>
                        <img src="/static/images/{{image}}.jpg" class="amiibo-image">
                    </p>
                {% endfor %}
                
            </p>
        </article>
    {% endfor %}
{% endblock %}